@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?5pqqd4");
  src: url("../fonts/icomoon.eot?5pqqd4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?5pqqd4") format("truetype"), url("../fonts/icomoon.woff?5pqqd4") format("woff"), url("../fonts/icomoon.svg?5pqqd4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

/* colors */
/* fonts */
/* media */
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: fixed;
  max-width: 1600px;
  width: 100%;
  z-index: 1000;
}

.header-top {
  background-color: #2d3e50;
}

.header-top__inner {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__mail, .header-top__phone {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 400px) {
  .header-top__mail {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-top__phone {
    margin: 0 auto;
  }
}

.header-bottom {
  background-color: #fff;
}

.header-bottom__inner {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-bottom__menu {
  margin-left: auto;
  margin-right: 40px;
}

@media (max-width: 880px) {
  .header-bottom__search {
    margin-left: auto;
    margin-right: 40px;
  }
}

.logo {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffc000;
}

.logo span {
  color: #2d3e50;
}

@media (max-width: 880px) {
  .menu {
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 1000;
    display: none;
    border-bottom: 0.5px solid #2d3e50;
  }
  .menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.menu__link {
  margin-left: 30px;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #2d3e50;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 1px;
}

.menu__link:hover {
  color: #ffc000;
}

@media (max-width: 880px) {
  .menu__link {
    margin-left: 0;
    padding: 10px 0;
    border-top: 0.5px solid #2d3e50;
  }
}

.menu_active {
  color: #ffc000;
}

.burger {
  width: 40px;
  height: 40px;
  display: none;
  cursor: pointer;
  background: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 880px) {
  .burger {
    display: block;
  }
}

.search {
  width: 25px;
  height: 25px;
  background: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.search:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__dialog {
  width: 100%;
  max-width: 1110px;
  border-radius: 5px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  position: relative;
}

.modal__dialog_xs {
  max-width: 97%;
  margin: 70px auto auto;
}

.modal__close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 30px;
  height: 30px;
  background: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.modal__close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal-search__form {
  position: relative;
}

.modal-search__form input {
  width: 100%;
  height: 24px;
  padding-right: 40px;
  font-size: 24px;
}

.modal-search__form input::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.modal-search__form input:-ms-input-placeholder {
  font-size: 24px;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.modal-search__form input::-ms-input-placeholder {
  font-size: 24px;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.modal-search__form input::placeholder {
  font-size: 24px;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.modal-search__form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.modal-search__form input:focus:-ms-input-placeholder {
  opacity: 0;
}

.modal-search__form input:focus::-ms-input-placeholder {
  opacity: 0;
}

.modal-search__form input:focus::placeholder {
  opacity: 0;
}

.modal-search__search {
  position: absolute;
  top: 0;
  right: 0;
}

.slider {
  padding-top: 80px;
  height: auto;
  position: relative;
}

.slider__item {
  padding: 220px 0;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
  height: 100%;
}

.slider__title {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: #fff;
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.slider__title span {
  color: #ffc000;
}

.slider__description {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 645px;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 57px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  margin-left: 15px;
  background: url(../../img/arrow-left.svg) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  margin-right: 15px;
  background: url(../../img/arrow-right.svg) 0 0/100% no-repeat;
}

.slider .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  margin: 0 10px;
  height: 0;
}

.slider .slick-dots li.slick-active button {
  background-color: #2d3e50;
}

.slider .slick-dots button {
  font-size: 0;
  width: 50px;
  height: 5px;
  border: .5px solid #fff;
  border-radius: 5px;
  background-color: #ffc000;
}

.button {
  background-color: #ffc000;
  color: #fff;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 270px;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 1px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #2d3e50;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.template {
  background-color: #fff;
  padding: 100px 0;
}

.template__intro {
  margin: 0 auto 50px;
}

.template__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.template__sheet {
  -ms-flex-preferred-size: calc(25% - 10px);
      flex-basis: calc(25% - 10px);
  text-align: center;
  border: .5px solid transparent;
  border-radius: 5px;
  padding: 60px 15px 80px;
  background-color: #2d3e50;
  color: #fff;
}

.template__sheet:hover {
  color: #232323;
  background-color: #fff;
  border: 0.5px solid #ffc000;
  -webkit-transition: .5s;
  transition: .5s;
}

.template__img {
  width: 77px;
  height: 77px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 30px;
}

.template__title {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.template__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.intro {
  max-width: 750px;
  text-align: center;
}

.intro__opening {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #232323;
}

.intro__title {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #252c30;
  padding: 15px 0 20px;
}

.intro__title span {
  color: #ffc000;
}

.intro__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #232323;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.services__block {
  width: 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  padding-left: 40px;
}

.services__intro {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #ffc000;
  margin-bottom: 50px;
}

.services__item {
  position: relative;
  padding-left: 100px;
  margin-bottom: 50px;
  max-width: 500px;
}

.services__icon {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #2d3e50;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
}

.services__title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #232323;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.services__text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #232323;
  line-height: 1.5;
}

.services__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.services__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */